html
    head
        title
        meta(charset='utf-8')
        link(rel='stylesheet' href='/bootstrap/bootstrap.css', type='text/css')
    body
        h1 Sex
        span mujer
        input(id="mujer" checked type='radio',name='severity',value ='Minor')
        span hombre
        input(id="hombre" type='radio',name='severity',value ='Minor')
        div(id="chart-area")
        script
            include ../../../static/d3/index.min.js

        script
            include index.js