html
    head
        title
        link(rel='stylesheet' href='/bootstrap/bootstrap.css')
    body
        h1 Age
        div(id="chart-area")
        script
            include ../../../static/d3/index.min.js
        script
            include index.js